@media screen and (max-width:1200px) {

}




@media screen and (max-width:900px) {
  #aplication {
    gap: 2rem;
  }

  .task-title-container {
    gap: 1rem;
    margin-top: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  .button {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .task-input-container {
    width: 75%;
  }

  .tasks-list {
    width: 90%;
  }

  .deleteAll {
    font-size: 0.9rem;
  }

  .task {
    padding: 1rem;
    font-size: 1rem;
  }

  .no-tasks h2 {
    font-size: 1.3em;
  }
}