@media screen and (max-width:1200px) {
  .task-input-container {
    width: 60%;
  }

  .tasks-list {
    width: 60%;
  }
}



@media screen and (max-width:900px) {
  #aplication {
    gap: 2rem;
  }

  .task-title-container {
    gap: 1.5rem;
    margin-top: 2rem;
  }

  #task-title {
    padding: 0.8rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .task-input-container {
    width: 85%;
  }

  .button {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }


  .tasks-list {
    width: 90%;
  }

  .delete-buttons-container {
    width: 90%;
    /* text-align: center; */
  }
  
  .deleteCompleted {
    font-size: 0.9rem;
  }

  .deleteAll {
    font-size: 0.9rem;
  }

  .task {
    padding: 1rem;
    font-size: 1rem;
  }

  .no-tasks h2 {
    font-size: 1.3em;
  }
}



@media (hover: none) {
  .button-addTask-container:hover {
    opacity: 1;
  }

  .deleteTask:hover {
    opacity: 1;
  }

  .deleteCompleted:hover {
    opacity: 1;
  }

  .deleteCompleted:hover {
    opacity: 1;
  }  
}